@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
}

header {
  border-bottom: 1px solid #ececec;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Ховаємо заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 480px;
  min-width: 320px;
  /* outline: 2px solid tomato; */
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Navigation */
.header-nav {
  display: none;
}

@media (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .nav-list {
    margin-right: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .nav-list {
    margin-right: 305px;
    margin-left: 93px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-list__item--hedding:not(:first-child) {
  padding-left: 50px;
}

.nav-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  text-decoration: none;
  /* Нижнє підкреслення */
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link--current, .nav-list__link:focus {
  color: #2196f3;
}

/* Нижнє підкреслення */
.nav-list__link--current::after {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.nav-contacts {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .nav-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .nav-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .nav-contacts__item--hedding:last-child {
    padding-left: 50px;
  }
}

.nav-contacts__item--hedding:not(:last-child) {
  margin-bottom: 10px;
}

.nav-contacts__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 1199px) {
  .nav-contacts__link {
    font-size: 12px;
    line-height: 1.171;
  }
}

.nav-contacts__link--header {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .nav-contacts__link--header:not(:last-child) {
    margin-bottom: 10px;
  }
}

.nav-contacts__link:hover, .nav-contacts__link:focus {
  color: #2196f3;
}

.nav-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

@media (max-width: 767px) {
  .logo {
    margin: 16px 0 16px;
  }
}

.logo__subtext {
  color: #212121;
}

.logo__subtext--white {
  color: white;
}

.banner {
  height: 400px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .banner .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mobile@2x.jpg);
  }
}

@media (min-width: 768px) {
  .banner {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tablet@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .banner {
    height: 600px;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner .banner {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img@2x.jpg);
  }
}

/* Заголовок */
.container--main-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  color: white;
  padding-top: 118px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .container--main-title {
    padding-top: 200px;
    font-size: 44px;
    line-height: 1.36;
  }
}

/* Button */
.banner__button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  background-color: #2196f3;
  color: white;
  padding: 10px 32px;
  display: block;
  margin: 30px auto 0;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 528px;
  /* width: 100%; */
  max-height: 100vh;
  overflow-y: scroll;
  padding: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-appearance: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow-y: -moz-hidden-unscrollable;
}

@media (max-width: 1199px) {
  .modal {
    max-width: 450px;
    width: 100%;
  }
}

.modal::-webkit-scrollbar {
  width: 0;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
}

.close-button:hover .close-button__icon, .close-button:focus .close-button__icon {
  fill: #2196f3;
}

.close-button__icon {
  position: absolute;
  right: 8px;
  top: 8px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* fill: black; */
}

.modal-text {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Modal Form */
.group-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.group-form__name {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.171;
  color: #757575;
  margin-bottom: 4px;
}

.wrapper {
  position: relative;
}

.wrapper__input {
  width: 100%;
  font-family: inherit;
  padding: 12px 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  resize: none;
  height: 40px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper__input:hover, .wrapper__input:focus {
  border: 1px solid #2196f3;
}

.wrapper__input:focus + .wrapper__icon, .wrapper__input:hover + .wrapper__icon {
  fill: #2196f3;
}

.wrapper__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper__input--textarea {
  height: 120px;
  padding: 12px 16px;
}

/* Checkbox */
.contract {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-checkbox {
  cursor: pointer;
  position: relative;
}

.form-checkbox__text {
  margin-left: 24px;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (max-width: 1199px) {
  .form-checkbox__text {
    font-size: 12px;
    line-height: 1.171;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
  }
}

.form-checkbox__link {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media (max-width: 1199px) {
  .form-checkbox__link {
    font-size: 12px;
    line-height: 1.171;
  }
}

.form-checkbox__input:checked ~ .modal-checkbox .modal-checkbox__icon {
  display: block;
}

.form-checkbox__input:checked ~ .modal-checkbox {
  border: none;
}

.modal-checkbox {
  border: 1px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
}

@media (max-width: 1199px) {
  .modal-checkbox {
    display: inline-block;
    vertical-align: middle;
  }
}

@media (min-width: 1200px) {
  .modal-checkbox {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.modal-checkbox__icon {
  display: none;
}

.modal-checkbox__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: white;
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 55px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

/*Our Features */
@media (max-width: 1199px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .our-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

@media (min-width: 1200px) {
  .our-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .our-features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .our-features__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .our-features__item {
    width: 270px;
  }
  .our-features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.our-features__icon {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .our-features__icon {
    width: 270px;
  }
}

.our-features__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

.our-features__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
}

/* What We Do */
@media (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

.what-we-do {
  padding-top: 94px;
  padding-bottom: 94px;
}

.what-we-do__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66;
  color: #212121;
  text-align: center;
  padding-bottom: 50px;
}

.list-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-photo__item {
  position: relative;
  overflow: hidden;
}

.list-photo__item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do__text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-we-do__subtext {
  font-size: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: white;
  text-transform: uppercase;
}

/* Our Team */
.our-team {
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .our-team-title {
    font-size: 36px;
    line-height: 1.66;
    margin-bottom: 50px;
  }
}

/* Workers Card */
.our-team-workers {
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .our-team-workers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

@media (min-width: 1200px) {
  .our-team-workers {
    margin-top: calc(-1 * 50px);
    margin-left: calc(-1 * 30px);
  }
}

.our-team__item {
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .our-team__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .our-team__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
    margin-top: 50px;
    margin-left: 30px;
  }
}

.workers-card {
  margin-top: 30px;
  background-color: white;
  text-align: center;
}

.workers-card__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.workers-card__position {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

/* Іконки соц.мережі робітників */
.employee-list {
  list-style-type: none;
  margin-top: 16px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

@media (min-width: 1200px) {
  .employee-list {
    margin-bottom: 30px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.employee-list__link {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.employee-list__link:hover .employee-list__icon, .employee-list__link:focus .employee-list__icon {
  fill: white;
}

.employee-list__link:hover:hover, .employee-list__link:hover:focus, .employee-list__link:focus:hover, .employee-list__link:focus:focus {
  background-color: #2196f3;
}

.employee-list__icon {
  fill: currentColor;
  fill: #afb1b8;
}

/* Regular Customers */
.regular-customers {
  padding: 60px 0;
}

@media (min-width: 1200px) {
  .regular-customers {
    padding: 94px 0;
  }
}

.regular-customers__title {
  font-family: 'Roboto';
  font-style: 700;
  font-size: 28px;
  line-height: 1.171;
  letter-spacing: 3%;
  text-align: center;
}

@media (min-width: 1200px) {
  .regular-customers__title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .customers__list {
    margin-left: calc(-1 * 30px);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .customers__list {
    margin-left: calc(-1 * 30px);
  }
}

@media (min-width: 1200px) {
  .customers__list {
    margin: 50px -15px 0;
  }
}

.customers__item {
  border: 1px solid #afb1b8;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  height: 90px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .customers__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .customers__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .customers__item {
    width: calc(100% / 6 - 30px);
    margin: 0 15px;
  }
}

.customers__item:hover {
  border-color: #2196f3;
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2196f3;
}

.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: #2196f3;
}

.customers__icon {
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */
.footer {
  background: #2f303a;
  padding: 60px 0;
  border: 1px;
  display: block;
}

.footer--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer--container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .footer--container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-section {
    margin-left: 61px;
    text-align: center;
  }
}

.footer-address {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .footer-address {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-address__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: white;
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .footer-address__text {
    margin-bottom: 9px;
  }
}

.footer-contacts__item--hedding:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .footer-contacts__item--hedding:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .footer-contacts__link {
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

@media (max-width: 767px) {
  .social-container {
    margin-top: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .social-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 206px;
            flex: 0 1 206px;
    margin-left: 164px;
  }
}

@media (min-width: 1200px) {
  .social-container {
    margin-left: 70px;
    line-height: 1.14;
  }
}

.social-container__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .social-container__text {
    text-align: center;
  }
}

.share-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
}

.share-networks__link {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.share-networks__link:hover, .share-networks__link:focus {
  background-color: #2196f3;
  color: white;
}

.share-networks__icon {
  fill: white;
}

@media (max-width: 1199px) {
  .subscribe {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
    width: 570px;
  }
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199px) {
  .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1199px) {
  .subscribe-form {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .subscribe-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.subscribe-form__text {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.subscribe-form__input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
}

@media (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}

.subscribe-button {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  height: 50px;
  border-radius: 4px;
  width: 200px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1199px) {
  .subscribe-button {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .subscribe-button {
    margin-left: 12px;
  }
}

.subscribe-button__icon {
  margin-left: 10px;
  fill: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-toggle:hover .mobile-close-icon, .menu-toggle:focus .mobile-close-icon {
  fill: #2196f3;
}

.menu-toggle:hover .burger-icon, .menu-toggle:focus .burger-icon {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-close-icon,
.burger-icon {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__item:hover .mobile-link, .mobile-menu__item:focus .mobile-link {
  color: #2196f3;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  display: block;
  color: #212121;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link--current {
  color: #2196f3;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.171;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.mobile-contacts__link--mod {
  font-size: 24px;
  line-height: 1.172;
  color: #757575;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid;
  color: #757575;
  margin-right: 9px;
}

.mobile-social__link {
  text-decoration: none;
  color: #2196f3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  padding-right: 10px;
}

.portfolio {
  padding-top: 94px;
}

@media (max-width: 1199px) {
  .portfolio {
    padding-top: 60px;
  }
}

.buttons {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: calc(40px - 15px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 768px) {
  .buttons {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .buttons {
    margin-bottom: 50px;
  }
}

.buttons__name:not(:last-child) {
  margin-right: 8px;
}

@media (max-width: 767px) {
  .buttons__name {
    margin-bottom: 15px;
  }
}

.buttons__title {
  background: #f5f4fa;
  color: #212121;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__title.active,
.buttons__title:hover,
.buttons__title:focus {
  background: #2196f3;
  color: white;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-cards {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .portfolio-cards {
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
}

@media (min-width: 1200px) {
  .portfolio-cards {
    padding-bottom: 94px;
  }
}

.portfolio-cards__item {
  border: 1px solid #eeeeee;
}

@media (max-width: 767px) {
  .portfolio-cards__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .portfolio-cards__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .portfolio-cards__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.portfolio-cards__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-cards__item:hover .hover-thumb {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-cards__link {
  text-decoration: none;
  display: block;
}

/* Вспливаюче вікно */
.card-thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 294px;
}

.card-thumb__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hover-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: white;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
}

.hover-thumb__text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.555;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
}

.card-content {
  padding: 20px 24px;
}

.card-content__headling {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card-content__text {
  margin-top: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */