$white-text: rgba(255, 255, 255, 1);
$white-text-op60: rgba(255, 255, 255, 0.6);
$blue-text: rgba(33, 150, 243, 1);
$grey-text: rgba(117, 117, 117, 1);
$black-text: rgba(33, 33, 33, 1);
$background-color-team: #f5f4fa;
$background-color-hero: #2f303a;
$background-button: rgba(245, 244, 250, 1);
$border-head: rgba(236, 236, 236, 1);
$team-workers-grap: 50px 30px;
$icon-grey: #afb1b8;
$icon-background-dark-grey: rgba(255, 255, 255, 0.1);
$bordre-close-icon: rgba(0, 0, 0, 0.1);
$backdrop-color: rgba(0, 0, 0, 0.2);
$background-hover-thumb-portfolio: rgba(33, 150, 243, 0.9);
$focus-border-input: 1px solid rgba(33, 150, 243, 1);
$border-input: 1px solid rgba(33, 33, 33, 0.2);
$form-button: rgba(24, 140, 232, 1);
