/*Our Features */
.features {
  @media (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: 1200px) {
    padding-top: 94px;
  }
}

.our-features {
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.our-features__item {
  @media (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.our-features__icon {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1200px) {
    width: 270px;
  }
}

.our-features__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: $black-text;
  text-transform: uppercase;
}

.our-features__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $grey-text;
  padding-top: 10px;
}
