
/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  /* width: 100%; */

  max-height: 100vh;
  overflow-y: scroll;
  padding: 40px;
  background-color: $white-text;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-appearance: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow-y: -moz-hidden-unscrollable;
}
.modal::-webkit-scrollbar {
  width: 0;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
  background-color: $white-text;
  border: 1px solid $bordre-close-icon;
  border-radius: 100%;
  cursor: pointer;
  
  &:hover, 
  &:focus  {
    .close-button__icon
    { fill: $blue-text; }
    
  }
}


.close-button__icon {
  position: absolute;
  right: 8px;
  top: 8px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* fill: black; */
}


.modal-text {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.172;
  letter-spacing: 0.03em;

  text-align: center;
}


/* Modal Form */

.group-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
  .group-form__name {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.171;
  color: $grey-text;
  margin-bottom: 4px;
}

 .wrapper {
  position: relative;
}

 .wrapper__input {
  width: 100%;
  font-family: inherit;
  padding: 12px 35px;
  border: $border-input;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  resize: none;
  height: 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
   border: $focus-border-input;
  }
  
  &:focus,
  &:hover  {
    & + .wrapper__icon
    { fill: $blue-text; }
    
  }
}



.wrapper__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper__input--textarea {
  height: 120px;
  padding: 12px 16px;
  }

  /* Checkbox */

.contract {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-checkbox {
  cursor: pointer;
  position: relative;
  
  &__text {
    margin-left: 24px;
    font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $grey-text;
  }

  &__link {
    font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $blue-text;
  }
}

.form-checkbox__input:checked ~ .modal-checkbox .modal-checkbox__icon {
  display: block;
}
.form-checkbox__input:checked ~ .modal-checkbox {
  border: none;
}

.modal-checkbox {
  border: 1px solid $black-text;
  border-radius: 2px;
  width: 16px;
  height: 15px;
    position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &__icon{
    display: none;
  }

  &__button {
 display: flex;
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $white-text;
  background-color: $form-button;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 55px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  }
}
