
/* Cards Portfolio */

.portfolio-cards {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.portfolio-cards__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
  
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  &:hover {
      .hover-thumb
    {transform: translateY(0);} 
  }
}

.portfolio-cards__link {
  text-decoration: none;
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}



/* Вспливаюче вікно */
.card-thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 294px;
}

.hover-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background-hover-thumb-portfolio;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: white;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateY(101%);
}

.hover-thumb__text {
font-family: Roboto;
font-size: 18px;
line-height: 1.555;
font-style: normal;
font-weight: 400;
letter-spacing: 0.03em;
text-align: left;
}

/* Вспливаюче вікно */

.card-content {
  padding: 20px 24px;
}

.card-content__headling {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $black-text;
}

.card-content__text {
  margin-top: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $grey-text;
}