.banner {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Заголовок */
.container--main-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: $white-text;
  padding-top: 200px;
  text-align: center;
  text-transform: uppercase;
}

/* Button */
.banner__button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  background-color: $blue-text;
  color: $white-text;
  padding: 10px 32px;
  display: block;
  margin: 30px auto 0;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
