/* Our Team */

.our-team {
  background-color: $background-color-team;
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66;
  letter-spacing: 0.03em;
  color: $black-text;
  text-align: center;
  margin-bottom: 50px;
}
.our-team-workers {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-1 * 50px);
  margin-left: calc(-1 * 30px);
}


/* Workers Card */

.our-team__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 50px;
  margin-left: 30px;
  background-color: $white-text;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  min-height: 428px;
}

.workers-card {
  margin-top: 30px;
  background-color: $white-text;
  text-align: center;
}

.workers-card__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $black-text;
}

.workers-card__position {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $grey-text;
  margin-top: 10px;
}

/* Іконки соц.мережі робітників */

.employee-list {
  list-style-type: none;
  margin-top: 16px;
  display: flex;
  justify-content: space-evenly;
  background-color: $white-text;
}

.employee-list__link {
  width: 44px;
  height: 44px;
   border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $icon-background-dark-grey;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover, 
  &:focus  {
      .employee-list__icon 
      { fill: $white-text; }
    
      
      &:hover,
      &:focus {
        background-color: $blue-text;
      //   color: $white-text;
      }
  }
}

.employee-list__icon {
  fill: currentColor;
  fill: $icon-grey;
}