/* Footer */
.footer {
  background: #2f303a;
  padding: 60px 0;
  // padding-top: 60px;
  border: 1px;
  display: block;
}
.footer--container {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    // flex-direction: column;
    // align-items: flex-start;
    // text-align: center;
  }

  @media (min-width: 1200px) {
    justify-content: space-between;
  }
}
.footer-section {
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-left: 61px;
    text-align: center;
    // margin-left: 76px;
    // flex: 0 1 50%;
  }
}

.footer-address {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  @media (min-width: 1200px) {
    align-items: flex-start;
  }
}

.footer-address__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $white-text;
  margin-bottom: 8px;

  @media (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-contacts__item--hedding:not(:last-child) {
  margin-bottom: 8px;

  @media (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-contacts__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $white-text-op60;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 1200px) {
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  &:hover,
  &:focus {
    color: $blue-text;
  }
}

// Social Networks

.social-container {
  @media (max-width: 767px) {
    margin-top: 60px;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    flex: 0 1 206px;
    margin-left: 164px;
    // position: absolute;
    // margin-left: 473px;
    // margin-top: 5px;
    // width: 206px;
  }

  @media (min-width: 1200px) {
    margin-left: 70px;
    line-height: 1.14;
  }
  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-text;
    margin-bottom: 20px;
    @media (max-width: 1199px) {
      text-align: center;
    }
  }
}

.share-footer {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.share-networks__link {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $icon-background-dark-grey;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $blue-text;
    color: $white-text;
  }
}

.share-networks__icon {
  fill: $white-text;
}

// Footer Form

.subscribe {
  @media (max-width: 1199px) {
    // margin-top: 60px;
    flex: 0 1 100%;
  }

  @media (min-width: 1200px) {
    margin-left: 93px;
    width: 570px;
  }
}

.subscribe-form {
  display: flex;
  @media (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 1199px) {
    // margin-left: 166px;
    margin-top: 60px;
  }

  @media (min-width: 1200px) {
    flex-wrap: wrap;
  }
}

.subscribe-form__text {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: $white-text;
  text-transform: uppercase;
  margin-bottom: 20px;
  flex-grow: 1;
}

// .subscribe-form__label {
//   flex-direction: column;
//   align-items: flex-start;

//   @media (min-width: 1200px) {
//     display: flex;
//   }
// }

.subscribe-form__input {
  // @media (max-width: 480px) {
  //   width: 100%;
  // }
  width: 450px;
  height: 50px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid $white-text-op60;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $white-text;

  @media (min-width: 1200px) {
    width: 358px;
  }
}

.subscribe-button {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $white-text;
  background-color: $blue-text;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  height: 50px;
  border-radius: 4px;
  width: 200px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  @media (max-width: 1199px) {
    margin-top: 20px;
  }

  @media (min-width: 1200px) {
    margin-left: 12px;
  }
}

.subscribe-button__icon {
  margin-left: 10px;
  fill: $white-text;
  justify-content: center;
}
