/* Header */

.header {
  border-bottom: 1px solid $border-head;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Navigation */
.header-nav {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-list {
  @media (min-width: 768px) {
    margin-right: 84px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1200px) {
    margin-right: 305px;
    margin-left: 93px;
    list-style-type: none;
    display: flex;
  }
}

.nav-list__item--hedding:not(:first-child) {
  padding-left: 50px;
}

.nav-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: $black-text;
  text-decoration: none;
  /* Нижнє підкреслення */
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &--current,
  &:focus {
    color: $blue-text;
  }
}

/* Нижнє підкреслення */

.nav-list__link--current::after {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $blue-text;
}

// Navigation Contacts

.nav-contacts {
  list-style-type: none;
  display: flex;

  @media (min-width: 768px) {
    flex-direction: column;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.nav-contacts__item--hedding:last-child {
  @media (min-width: 1200px) {
    padding-left: 50px;
  }
}
.nav-contacts__item--hedding:not(:last-child) {
  margin-bottom: 10px;
}

.nav-contacts__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $white-text-op60;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.171;
  }

  &--header {
    color: $grey-text;
    display: flex;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--header:not(:last-child) {
    @media (min-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &:hover,
  &:focus {
    color: $blue-text;
  }
}

.nav-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 16px;
}
