.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: $blue-text;
  text-decoration: none;

  @media (max-width: 767px) {
    margin: 16px 0 16px;
  }
}

.logo__subtext {
  color: $black-text;

  &--white {
    color: $white-text;
  }
}
